<div class="container">
  <!-- Choix de l'expéditeur avec des boutons radio -->
  <div class="input-group" *ngIf="!utilisateurId">
    <label>Choisissez un expéditeur :</label>
    <div class="radio-group">
      <label>
        <input type="radio" [(ngModel)]="expediteur" value="UTILISATEUR" /> Utilisateur
      </label>
      <label>
        <input type="radio" [(ngModel)]="expediteur" value="SERVICE_CLIENT" /> Service Client
      </label>
    </div>

    <label>Choisissez un utilisateur :</label>
    <select class="select-user" [(ngModel)]="utilisateurId">
      <option 
        *ngFor="let user of utilisateurs" 
        [value]="user.id" 
        [hidden]="(expediteur === 'SERVICE_CLIENT' && user.id !== 2) || (expediteur === 'UTILISATEUR' && user.id === 2)">
        {{ user.nom }} {{ user.prenom }}
      </option>
    </select>
    <button class="start-button" (click)="sendMessage()">Commencer le Chat</button>
  </div>

  <!-- Zone de chat après sélection de l'utilisateur -->
  <div *ngIf="utilisateurId" class="chat-section">
    <div class="messages">
      <h2>Messages:</h2>
      <ul>
        <li *ngFor="let msg of messages">
          <strong *ngIf="msg.expediteur === 'SERVICE_CLIENT'" class="expediteur">Service Client</strong>
          <strong *ngIf="msg.expediteur === 'UTILISATEUR'" class="expediteur">{{ msg.nom }} {{ msg.prenom }}</strong>
          <div class="message-content">{{ msg.content }}</div>
          <div class="timestamp">{{ msg.timestamp | date:'HH:mm' }}</div>
        </li>
      </ul>
    </div>

    <div class="input-group message-input">
      <input id="message" [(ngModel)]="message" placeholder="Entrez votre message">
      <button (click)="sendMessage()" class="send-button">Envoyer</button>
    </div>
  </div>
</div>
